In [19]:
# !pip install openpyxl

In [1]:
import pandas as pd

In [12]:
w = 'tests/.data/sample_target.csv'
w2 = 'tests/.data/sample_target.xlsx'
s = 'tests/.data/sample1.pdf'

In [3]:
data = pd.read_csv(w)

In [4]:
data

,File Name,Watermark Text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Name 1,Watermark 1,NaN,NaN,NaN,NaN,NaN
1,Name 2,Watermark 2,NaN,NaN,NaN,NaN,NaN
2,Name 3,Watermark 3,NaN,NaN,NaN,NaN,NaN
3,Name 4,Watermark 41\nWatermark 42\nWatermark 43,NaN,NaN,NaN,NaN,NaN
4,Name 5,Watermark 51\nWatermark 51\nWatermark 53,NaN,NaN,NaN,NaN,NaN
5,Name 6,Watermark 6,NaN,NaN,NaN,NaN,NaN

In [10]:
data.columns = list(map(lambda x: x.lower().replace(' ', '_'), data.columns))
columns_to_remove = list(filter(lambda x: 'unnamed' in x, data.columns))
data.drop(columns=columns_to_remove, axis=1, inplace=True)

In [11]:
data

  file_name                            watermark_text
0    Name 1                               Watermark 1
1    Name 2                               Watermark 2
2    Name 3                               Watermark 3
3    Name 4  Watermark 41\nWatermark 42\nWatermark 43
4    Name 5  Watermark 51\nWatermark 51\nWatermark 53
5    Name 6                               Watermark 6

In [21]:
d2 = pd.read_excel(w2, header=1)
d2

,File Name,Watermark Text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Name 1,Watermark 1,NaN,NaN,NaN,NaN,NaN
1,Name 2,Watermark 2,NaN,NaN,NaN,NaN,NaN
2,Name 3,Watermark 3,NaN,NaN,NaN,NaN,NaN
3,Name 4,Watermark 41\nWatermark 42\nWatermark 43,NaN,NaN,NaN,NaN,NaN
4,Name 5,Watermark 51\nWatermark 51\nWatermark 53,NaN,NaN,NaN,NaN,NaN
5,Name 6,Watermark 6,NaN,NaN,NaN,NaN,NaN

In [22]:
data

  file_name                            watermark_text
0    Name 1                               Watermark 1
1    Name 2                               Watermark 2
2    Name 3                               Watermark 3
3    Name 4  Watermark 41\nWatermark 42\nWatermark 43
4    Name 5  Watermark 51\nWatermark 51\nWatermark 53
5    Name 6                               Watermark 6

In [34]:
data.iloc[:, :2].values.tolist()

[['Name 1', 'Watermark 1'],
 ['Name 2', 'Watermark 2'],
 ['Name 3', 'Watermark 3'],
 ['Name 4', 'Watermark 41\nWatermark 42\nWatermark 43'],
 ['Name 5', 'Watermark 51\nWatermark 51\nWatermark 53'],
 ['Name 6', 'Watermark 6']]